<aside class="side">
    <img
        class="author-image"
        src="{{.Site.Params.AuthorImage}}"/>

    <div style="text-align: center;">
        <b> {{ .Site.Params.Author }} </b>
    </div>
    <hr/>
    <div class="icon-container">
    {{ range .Site.Params.Connect }}
            {{ range $k, $v := . }}
                <a href="{{ $v }}" target="_blank">
                    <img class="icon" src="/icons/{{ $k }}.svg"/>
                </a>
            {{ end }}
    {{ end }}
    </div>
    <hr/>
        <div> {{ .Site.Params.Description }} </div>
    <hr/>
    {{ .Site.Params.Contact}}: <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
    <hr/>
    {{ .Site.Params.Collaborate | markdownify }}
</aside>
